.footer-div {
  background: url("../../assets/images/pexels-photo-2558605.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
  height: 40vh;
  text-align: center;
  color: white;
}

.footer-div h1 {
  padding: 20px;
}
